#Title{
    color: var(--color-primary);
    font-size: 30px;
    font-weight: bold;
}

#SubTitle{
    color: var(--color-secondary-dark);
}

#PizzaMan{
    width: 200px;
    height: 200px;
    position: relative;
}

#ColInfos{
    text-align: center;
    position: absolute;
}

img{
    width: 400px;
}
#LogoName{
    color: var(--color-secondary-dark);
    font-size: 25px;
    font-weight: bold;
}
.review-container {
    display: flex;
    align-items: center;
    text-align: left;

}
.review-image{
    width: 400px;
    height: 400px;
    position: relative;
    display: flex;
}
.review-container h3{
    font-weight: bold;
    margin-top: 250px;
    transform: translateX(-65%);
}
.image-review {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: -10px;
    transform: translateY(370%);
}
.review-button {
    background-color: #ce3535;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    margin-left: -10px;
    transform: translateY(370%);
}
.review{
    display: flex;
    justify-content: flex-start;
    margin-right: 20px;
    position: absolute;
    transform: translateX(-70%);
}
.image-container {
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    width: 400px;
    height: 350px;
}
.text-right {
    margin-left: 20px;
}

.get-app{
        width: 800px;
        height: 400px;
        position: relative;
        display: inline;
        border-radius: 20px;
        background-color: #f47b7b;
}
.get-app img{
    float: right;
    position: relative;
    margin: 10px;
    top: -50%;
    right: 0;
    transform: translateX(-5%);
}
#Text{
    position: relative;
    transform: translateY(60%);
    margin: 15px;
}
