#basicInfo {
    padding: 0 50px;
}

#basicInfo h2{
    color: var(--color-primary);
}

#button *{
    width: 100%;
}

#gender {
    margin-bottom: 20px;
}

#birthDate {
    margin-bottom: 50px;
}

#birthDate p{
    text-align: start;
}

#birthDate select{
    width: 100%;
    color: var(--color-secondary);
}