.contact-container{
    text-align: center;
    color: #f77272;
    font-size: 50px;
    width: 200%;
    position: relative;
    right: 50%;
}
.container {
    border-radius: 5px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.text-center{
    position: absolute;
    left: 40%;
    text-align: center;
}
input[type="submit"] {
    background-color: #214769;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    font-family: Georgia, "Times New Roman", Times, serif;
}
input[type="submit"]:hover {
    background-color: #eb5757;
}
input[type="text"],
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    border-radius: 20px;
}
input {
    font-family: Georgia, "Times New Roman", Times, serif;
}
