.delivery-container {
    max-width: 800px;
    margin: 0 auto;
}

.delivery-heading {
    text-align: center;
}

.service-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.service-card h3 {
    margin-top: 0;
}

.service-card p {
    margin-bottom: 0;
}
.bouton-center{
    margin-bottom: 50%;
}