#Title{
    color: var(--color-primary);
    font-size: 80px;
    font-weight: bold;
}

#SubTitle{
    color: var(--color-secondary-dark);
}
#Heading{
    font-size: 36px;
    font-weight: bolder;
}
#PizzaMan{
    width: 500px;
    height: 500px;
    position: absolute;
    right: 50px;
    clip-path: polygon(49% 2%, 78% 2%, 100% 35%, 100% 70%, 100% 96%, 24% 87%, 2% 92%, 2% 69%, 6% 43%, 0 1%);
}

#ColInfos{
    text-align: center;
    position: absolute;
}

img{
    width: 400px;
}
#LogoName{
    color: var(--color-secondary-dark);
    font-size: 40px;
    font-weight: bold;
}
.reviewers{
    position: absolute;
    display: flex;
    align-items: center;
    text-align: left;
    bottom: -680px;
    right: 830px;
    transform: translateY(30%);
}
.reviewers h3{
    font-weight: bold;
    margin-top: 230px;
    transform: translateX(-150%);
}
.review{
    display: flex;
    justify-content: flex-start;
    margin-right: 40px;
    position: absolute;
    transform: translateX(-150%);
}
.image-review {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: -10px;
    transform: translateX(-10%);
}
.review-button {
    background-color: #ce3535;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    margin-left: -10px;
    transform: translateX(-10%);
}
.review-container {
    display: flex;
    align-items: center;
    text-align: left;
}
.star-icon {
    color: #ffc107;
}
.review-image{
    width: 500px;
    height: 400px;
    position: relative;
    display: flex;
}

.review-container span{
    color: #df7b07;
}


.image-container {
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    width: 400px;
    height: 472px;
}
.text-right {
    margin-left: 20px;
    font-weight: bold;
}
.ArrowButtonStyle{
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
    padding-left: 200px;
    bottom: 40px;
}
.get-app{

    width: 1000px;
    height: 500px;
    position: relative;
    display: inline;
    border-radius: 20px;
    background-color: #f47b7b;
}
.get-app img{
    float: right;
    position: relative;
    margin: 10px;
    top: -49%;
    right: 0;
    transform: translateX(-10%);
}
#Text-app{
    position: relative;
    transform: translateY(30%);
    margin-left: 60px;
}
